@import "tailwindcss";
/* @import "tailwindcss/preflight";  */
 /* แทน @tailwind base */
@tailwind utilities;


@tailwind utilities;
@layer base {
  body {
    @apply flex min-h-screen flex-col items-center justify-center;
  }
  main {
    @apply container  mx-auto px-4;
  }
}
body{
  min-height: 100vh;
}

*{

  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
}



/* *{

}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container{

} */